.header-proyect{
    display: flex;
}
.header-proyect-1{
    display: flex;
    height: 100%;
    margin: 25px;
    padding: 25px;
    background-color: rgba(45, 189, 8, 0.678);
}
.img-4{
    display: inline-flex;
    width: 25%;
    height: 100%;
    padding: 10px 10px;
    margin: 25px;
}
.header-inder-1{
    display: flex;
    height: 100%;
    margin: 25px;
    padding: 25px;
    background-color: rgba(45, 189, 8, 0.678);
}