* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/Assets/img/restaurant-interior.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: color black;
  text-align: center;
}

.letra-1 {
  color: black;
}

.navbar {
  background-color: rgba(202, 98, 0, 0.678);
  border: 1px;
  border-color: black;
  border-style: solid;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.navbar > .fa-bars {
  display: none;
}

.navbar > ul {
  display: flex;
  position: relative;
  list-style-type: none;
  flex-direction: row;
  align-content: stretch;
  justify-content: end;
  align-items: center;
  margin-right: 175px;
}

.navbar > ul > li > a {
  display: flex;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 25px;
  padding: 20px;
  position: relative;
}

@media (max-width: 800px) {
  .navbar {
    justify-content: space-between;
  }
  .navbar > .fa-bars {
    display: flex;
    font-size: 30px;
    padding: 20px;
  }
  .navbar > .fa-bars:hover + ul {
    left: 0;
  }
  .navbar > ul {
    position: absolute;
    flex-direction: column;
    background-color: rgba(202, 98, 0, 0.678);
    width: 150px;
    justify-content: start;
    padding-top: 300px;
    left: -200px;
    transition: 0.2s;
  }
  .navbar > ul:hover {
    left: 0;
  }
  .img-princ {
    position: static;
  }
}
.img-princ {
  width: 150px;
  margin: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  padding-right: 2px;
}

.header-1 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 5px;
  color: white;
  margin: 5px;
}

.img-7-1 {
  display: flex;
  width: 50%;
  height: 1%;
  padding: 5px;
  margin: 5px;
  justify-content: center;
  align-items: center;
  margin-left: 400px;
}

.img-7-2 {
  display: flex;
  width: 50%;
  height: 1%;
  padding: 5px;
  margin: 5px;
  justify-content: center;
  align-items: center;
  margin-left: 400px;
}

.img-7-3 {
  display: flex;
  width: 50%;
  height: 1%;
  padding: 5px;
  margin: 5px;
  justify-content: center;
  align-items: center;
  margin-left: 400px;
}

.carousel-control-prev {
  display: flex;
  margin: 1px;
  margin-left: 300px;
}

.carousel-control-next {
  display: flex;
  margin: 1px;
  margin-right: 350px;
}

@media (max-width: 800px) {
  .img-7-1 {
    display: flex;
    width: 70%;
    height: 100%;
    padding: 5px;
    margin: 1px;
    justify-content: center;
    align-items: center;
    margin-left: 130px;
  }
  .img-7-2 {
    display: flex;
    width: 70%;
    height: 1%;
    padding: 5px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    margin-left: 125px;
  }
  .img-7-3 {
    display: flex;
    width: 70%;
    height: 1%;
    padding: 5px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    margin-left: 125px;
  }
  .carousel-control-prev {
    display: flex;
    margin: 1px;
    margin-left: 100px;
  }
  .carousel-control-next {
    display: flex;
    margin: 1px;
    margin-right: 100px;
  }
}
.header-2 {
  display: flex;
  justify-content: center;
  color: white;
}

.card {
  display: inline-flex;
  width: 550px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin: 50px;
  border: solid 5px;
  border-color: rgba(45, 189, 8, 0.678);
  color: white;
  background-color: #272b35;
}

.header-3 {
  display: flex;
  justify-content: center;
  color: white;
}

.img-map {
  display: flex;
  width: 35%;
  justify-content: center;
  margin: auto;
}

.header-proyect-info-3 {
  display: flex;
  height: 25%;
  padding: 25px;
  background-color: rgba(45, 189, 8, 0.678);
}

.header-proyect-info-3 > i {
  display: flex;
  margin: 5px;
  padding: 10px;
  justify-content: center;
  font-size: 100px;
}

.header-proyect-info-sub-1 {
  display: flex;
  margin-top: 50px;
  margin-left: 25px;
}

.header-proyect-form {
  color: white;
}

.form-control {
  width: 600px;
  margin: 20px auto;
}

.navbar-contact {
  background-color: rgba(202, 98, 0, 0.678);
  border: 1px;
  border-color: black;
  border-style: solid;
  display: flex;
  justify-content: end;
}

.navbar-contact > ul {
  display: flex;
  position: relative;
  list-style-type: none;
  flex-direction: row;
  align-content: stretch;
  justify-content: end;
  align-items: center;
  margin-right: 175px;
}

.navbar-contact > ul > i {
  display: flex;
  margin: 5px;
  padding: 10px;
  justify-content: center;
  font-size: 100px;
}

.navbar-contact > ul > li > a {
  display: flex;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 25px;
  padding: 20px;
  position: relative;
}

.img-Nosotros {
  display: inline-flex;
  width: 25%;
  height: 100%;
  padding: 10px 10px;
  margin: 25px;
}

.header-Nosotros {
  display: flex;
  height: 100%;
  margin: 25px;
  padding: 25px;
  background-color: rgba(45, 189, 8, 0.678);
}

.headerindex-2-1 {
  background-size: flex;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.headerindex-2-2 {
  background-size: flex;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.headerindex-2-3 {
  background-size: flex;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.header-principal-1 {
  width: 42%;
  margin: 5px;
  justify-content: center;
  display: grid;
  align-items: center;
  margin-left: 40px;
  color: white;
  background-color: #272b35;
  border: solid 5px rgba(45, 189, 8, 0.678);
  border-radius: 10px;
  justify-items: center;
}

.header-principal-2 {
  width: 42%;
  margin: 5px;
  justify-content: center;
  display: grid;
  align-items: center;
  margin-left: 40px;
  color: white;
  background-color: #272b35;
  border: solid 5px rgba(45, 189, 8, 0.678);
  border-radius: 10px;
  justify-items: center;
}

.header-principal-3 {
  width: 42%;
  margin: 5px;
  justify-content: center;
  display: grid;
  align-items: center;
  margin-left: 40px;
  color: white;
  background-color: #272b35;
  border: solid 5px rgba(45, 189, 8, 0.678);
  border-radius: 10px;
  justify-items: center;
}

.img-plato {
  display: grid;
  width: 80%;
  height: 100%;
  padding: 1px 60px;
  margin: 1px;
  justify-content: center;
  align-items: center;
  left: 1px;
}

.price {
  font-size: 25px;
  display: flex;
}

.btn-form-plato {
  margin-top: 100px;
  margin-left: 200px;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: darkorange;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.header-proyect {
  display: flex;
}

.header-proyect-1 {
  display: flex;
  height: 100%;
  margin: 25px;
  padding: 25px;
  background-color: rgba(45, 189, 8, 0.678);
}

.img-4 {
  display: inline-flex;
  width: 25%;
  height: 100%;
  padding: 10px 10px;
  margin: 25px;
}

.header-inder-1 {
  display: flex;
  height: 100%;
  margin: 25px;
  padding: 25px;
  background-color: rgba(45, 189, 8, 0.678);
}/*# sourceMappingURL=style.css.map */